# Configuración de Entorno Fede Nowback
APP_ENV=local
APP_DEBUG=true
APP_URL=http://127.0.0.1:8015

# Conexión Base de Datos MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=fedenowback_db
DB_USER=fedenowback_user
DB_PASS=NowbackFuego2026_SecurePass!
